name: Infrastructure CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-infra:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Tools
      run: |
        make install-tools

    - name: Setup Infrastructure
      run: |
        make all

    - name: Run Workflow
      run: |
        make submit
